.authenticate-container{
  padding-top: 100px;
  .authenticate-modal{
    width: 320px;
    margin: 0 auto;
    border-bottom: solid 1px #cdcdcd;
    padding: 30px;
    background-color: white;
    .icon-wrapper{
      position: relative;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      margin-bottom: 20px;
      border: 2px solid #3c5875;
      border-radius: 50%;
      transition: all 200ms ease-in-out;
      .icon{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 40px;
        color: #3c5875;
        transition: all 200ms ease-in-out;
      }


      &.success{
        .icon{
          color: rgb(76, 175, 80);
        }
        border: 2px solid rgb(76, 175, 80);
      }

    }
    .input-container{
      position: relative;
      margin-bottom: 12px;
      .form-input{
        padding-left: 30px;
      }
      .icon{
        position: absolute;
        top: 10px;
        left: 8px;
        color: #7d7d7d;
      }
    }

  }
}


.copyright{
  position: fixed;
  width: 100%;
  left: 0;
  bottom:20px;
  text-align: center;
}